apiVersion: apps/v1
kind: Deployment
metadata:
  name: equiwbuggy-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: equiwbuggy
  template:
    metadata:
      labels:
        app: equiwbuggy
    spec:
      containers:
      - name: equiwbuggy
        image: 520288862384.dkr.ecr.ap-southeast-3.amazonaws.com/equiw
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
# service type loadbalancer       
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: equiwbuggy
    k8s-app: equiwbuggy
  name: equiwbuggy
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 8080
  type: LoadBalancer
  selector:
    app: equiwbuggy
